body{
    background-image: url(../resource/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#content1{
    text-align: center;
    width: 50%;    
    margin-left: 25%;
    
    font-family: cursive;
    margin-top: 1em; 
    border: 2px solid grey;
    color: white;
    background-color: rgba(0,0, 0,0.6);
    position: relative;
    border-radius: 10px;
}
.avail{
    font-size: 40px;

}
#btn1{
    font-size: 15px;
    color:white;
    background: black;
    font-weight: bold;
    padding: 5px,10px;
    cursor: pointer;
    padding: 8px;
}
#btn1:hover{
    color: brown;
}
#result1{
    font-size: 20px;
    padding-top: 5px;
    font-weight: bold;
}
#content2{
    display: none;
    
    font-family: cursive;
    margin-left: 20%;
    margin-top: 2em;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid grey;
    color: white;
    background-color: rgba(0,0, 0,0.4);
    position: relative;
    border-radius: 10px;
    width: 60%;
    text-align: center;
}
.inputForm{
    padding-top: 10px;
}
#btn2{
    font-size: 15px;
    color: white;
    background: black;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    
}
#btn2:hover{
    color: brown;
}
#ss{
    display: none;
      
}
#seatsBlock{
    text-align: center;
    margin-left: 25%; 
}
#seatno{
    color: white;
    background: black;
    padding: 12px;
}
#seatno:hover{
    color: green;
}
#table1{
    display: none;
}
#timer{
    display: none;
    font-family: cursive;
    font-size: 25px;
    float: right;
    font-weight: bolder;
    background: black;
    color: white;
}
#timer:hover{
    color: red;
}
#confirm{
    font-size: 15px;
    color: white;
    background: black;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 2em;
}
#confirm:hover{
    color: brown;
}
.logoutbtn2 {
    float: right;
    list-style: none;
    margin-top: -5em;
    margin-right: 4em;
}
.logoutbtn2 li{
    display: inline-block;
}  
.logoutbtn2 li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background: black;
    padding: 5px;
    
}
.logoutbtn2 li a:hover{
    color: brown;
}

    

