body{
    background-image: url(../resource/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive;
    
}
#table1{
    border-collapse: collapse;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 2em;
    margin-left: 10em;
    padding: 20px;
    background-color: rgba(0,0, 0,0.6);
    width: 50%;
}
#delete{
    font-size: 18px;
    color: white;
    background: black;
    font-weight: bold;
    padding: 6px;
    cursor: pointer;
    text-align: center;
    float: both;
    margin-left: 12em;
    
}
.logoutbtn2 {
    float: right;
    list-style: none;
    margin-top: -5em;
    margin-right: 4em;
}
.logoutbtn2 li{
    display: inline-block;
}  
.logoutbtn2 li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background: black;
    padding: 5px;
    
}
.logoutbtn2 li a:hover{
    color: brown;
}
#download{
    font-size: 18px;
    color: white;
    background: black;
    font-weight: bold;
    padding: 6px;
    cursor: pointer;
    text-align: center;
    float: both;
    margin-left: 4em;
    
}
#edit{
    font-size: 18px;
    color: white;
    background: black;
    font-weight: bold;
    padding: 6px;
    cursor: pointer;
    text-align: center;
    float: both;
    margin-left: 5em;
}
#preview{
    font-size: 18px;
    color: white;
    background: black;
    font-weight: bold;
    padding: 6px;
    cursor: pointer;
    text-align: center;
    float: both;
    margin-left: 5em;
}
#delete:hover,#preview:hover,#edit:hover,#download:hover{
    color: brown;
}
#print{
    display: none;
    width: 50%;
    margin-left: 15em;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid grey;
    color: white;
    background-color: rgba(0,0, 0,0.6);
    line-height: 2em;
    text-align: center;
    padding: 10px;
    margin-bottom: 1em;
    
}
#heading{
    margin-top: 5em;
    background: black;
    width: 18%;
    display: none;
    margin-left: 17em;
    font-weight: bolder;
    color: white;
}
img{
    margin-left: 30em;
    padding-bottom: 2em;
}
.logo{
    float: both;
    margin-left: 10px;
}
@media screen and (max-width: 1045px)
{
    .logo{
        margin-left: 50px;
    }
    #download,#edit,#download,#preview
    {
        margin-left: 1.4em;
    }
    #heading
    {
        margin-left: 15em;
        font-size: 25px;
        width: 20%;
    }
    #print
    {
        margin-left: 11em;
    }
    img{
        margin-left: 20em;
        padding-bottom: 2em;
    }
}
