*
{
    padding: 0;
    margin: 0;
}
body
{
    background-image: url(../resource/cover.jpg);
    background-size: cover;
    
    background-repeat: no-repeat;
    font-family: cursive;
}

.heading
{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    color: white;
    margin-top: 1em;
    margin-right: 50px;
    
}
.table
{
    width: 85%;
    max-width: 600px;
    height: 50%;
    color: white;
    top: 25%;
    right: 23%;
    position: absolute;
    box-sizing:border-box;
    text-align: center;
    padding: 30px 40px;
    border-radius: 10px; 
    text-align: justify;
}
.content{
    font-size: 28px;
    padding-top: 10px;
    font-weight: bold;
}
#city{
    margin-left: 120px;
    padding: 8px;
    font-size: 13px;
    
}
#city:hover,#shows:hover,#event:hover,#day:hover{
    transform: scale(1.15);
}
#shows{
    margin-left: 77px;
    padding: 8px;
    font-size: 13px;
}
#event{
    margin-left: 93px;
    padding: 8px;
    font-size: 13px;
}
.date{
    font-size: 28px;
    
}
#dd{
    margin-top: 10px;
}
#day{
    margin-left: 116px;
    padding: 3px;
}
.att{
    font-size: 12px;
    
}


#button1{
    margin-top: 40px;
    margin-left: 130px;
    font-size: 18px;
    font-weight: bolder;
    padding: 8px;
    cursor: pointer;
    background: black;
    color: white;
}
#button1:hover{
    color: brown;
}

.logoutbtn1 {
    
    list-style: none;
    margin-top: 2em;
    margin-left: 68em;
}
.logoutbtn1 li{
    display: inline-block;
}  
.logoutbtn1 li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background: black;
    padding: 8px;
}
.logoutbtn1 li a:hover{
    color: brown;
        
}
#container{
    margin-top: 20em;
    margin-left: 4em;
    
}
.head1{
    margin-left: 13em;
    padding: 1em;
    color: white;
 
}
.head1:hover{
    color:bisque;
}
.gall{
    
    flex-wrap: wrap;
    margin: -1rem -1rem;
}
.gallery{
    margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    
}
#sarkar,#ENPT,#comali,#ipl,#tnpl{
    
	width: 400px;
	height: 200px;
	object-fit: cover;
    transition: transform 400ms ease-out;
    margin-bottom: 2em;
}
#tnpl:hover {
	transform: scale(1.15);
}
#sarkar:hover{
    transform: scale(1.15);
}
#ENPT:hover{
    transform: scale(1.15);
}
#comali:hover{
    transform: scale(1.15);
}
#ipl:hover{
    transform: scale(1.15);
}
@media screen and (max-width: 1045px)   
{
    .logoutbtn1 {
    
        list-style: none;
        margin-top: 2em;
        margin-left: 48em;
    }
    .logoutbtn1 li{
        display: inline-block;
    }  
    .logoutbtn1 li a{
        color: white;
        text-decoration: none;
        font-size: 17px;
        font-weight: bold;
        background: black;
        padding: 5px;
    }
    .logoutbtn1 li a:hover{
        color: brown;
            
    } 
    .head1{
        margin-left: 8em;
        padding: 1em;
        color: white;
     
    }
    .table
{
    
    width: 85%;
    max-width: 600px;
    height: 50%;
    color: white;
    top: 25%;
    right: 15%;
    position: absolute;
    box-sizing:border-box;
    text-align: center;
    padding: 30px 40px;
    border-radius: 10px; 
    text-align: justify;
}
.heading
{
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
    color: white;
    margin-top: 1em;
    margin-right: 50px;
    line-height: 50px;
}

}